@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to left bottom, #ff0085, #ff3464, #ff5946, #fd7a2a, #eb9612);
  font-family: 'Source Code Pro', monospace;
}

.modal-content {
  color: #fff;
  background: #343a40;
  * { border: 0 !important; }
}

.container {
  max-width: 800px;
}

.header {
  text-align: center;
  img {
    margin: 30px auto;
    max-width: 300px;
  }
  .btn {
    margin-top: 10px;
    position: relative;
    top: 50px;
  }
}

.table {
  margin-top: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.15);
  tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
  }
  th, td {
    border-top: 0;
    a {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

#entryForm {
  padding-top: 40px;
  margin: 0 auto;

  input[type=text] {
    @extend .form-control;
    @extend .form-control-lg;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-dark;
    margin-top: 35px;
    float: right;
    color: #fff;
  }

  button {
    @extend .btn;
    @extend .btn-lg;
    color: #fff;
  }

  .stopwatch {
    margin-top: 40px;

    .runningTime {
      font-size: 80px;
    }
    
    .controls {
      text-align: right;
      padding-top: 35px;

      .startstop {
        padding: 0.5rem 2rem;
      }
    }
  }

  .toggleInput {
    position: absolute;
    bottom: 0;
    opacity: 0.1;
  }

  .hidden {
    display: none !important;
  }
}
