@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to left bottom, #ff0085, #ff3464, #ff5946, #fd7a2a, #eb9612);
}

.container {
  max-width: 800px;
  font-family: 'Source Code Pro', monospace;
}

.header {
  text-align: center;
  img {
    margin: 30px auto;
    max-width: 300px;
  }
}

#entryForm {
  padding-top: 40px;
  margin: 0 auto;

  input[type=text] {
    @extend .form-control;
    @extend .form-control-lg;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-dark;
    margin-top: 35px;
    float: right;
  }

  button {
    @extend .btn;
    @extend .btn-lg;
  }

  .stopwatch {
    margin-top: 40px;

    .runningTime {
      font-size: 80px;
    }
    
    .controls {
      text-align: right;
      padding-top: 35px;

      .startstop {
        padding: 0.5rem 2rem;
      }
    }
  }

  .hidden {
    display: none !important;
  }
}
